html{
    margin: 0px;
    padding: 0px;
}
header{
    padding-top: 15px;
    top: 0px;
    left: 0px;
    padding-bottom: 15px;
    width: 100%;
    background-color:lightgray;
    padding-left: 10px;
}
footer{
    position:fixed;
    width: 100%;
    bottom: 0; 
    left: 0;
    background-color: lightgrey;
    padding-left: 10px;
}
